@font-face {
  font-family: chalk_font;
  src: url(../fonts/Chalkdusters.ttf);
}
@font-face {
  font-family: Jellofont;
  src: url(../fonts/Jelly.ttf);
}


body {
  background-color: #f2f2f2;
}

.top {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  font-family: chalk_font;
}

#searchbar_input {
  height: 40px;
}
/* for the click effect  */
#search {
  height: 40px;
}
#search:hover {
  background-color: #7da2a9;
}

#search:active {
  background-color: #5c7377;
  transform: translateY(4px);
}

/* side bar settings */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7da2a9;
  overflow-x: hidden;
  transition: 0.25s;
  padding-top: 60px;
}



.sidenav .closebtn {
  position: absolute;
  visibility: hidden;
  top: 5px;
  right: 25px;
  margin-left: 50px;
}

.sidenav .drinks_types {
  font-family: Jellofont;
}

.sidenav .btn {
  padding: 8px 8px 2px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.mocktails,
.cocktails,
.cocktail_list {
  font-size: 20px;
  font-family: cursive;
  color: #000000;
  text-decoration: none;
}

.Cocktails_name_btn:hover {
  background-color: #164e59;
}

.mocktails:hover,
.cocktail_list:hover {
 
  background-color: #394f53;
}

.Cocktails_name {
  font-style: bold;
  font-size: 25px;
  font-family: chalk_font;
}

.drinks_photo {
  margin: 50px;
  padding-right: 70px;
}
.search_logo {
  display: none;
}
.search_txt {
  display: inline;
}




/* mobile phone view */
@media (max-width: 576px) {
  .label {
    text-align: center;
    align-items: center;
    font-size: 13px;
  }
  .drinks_name {
    text-align: center;
    align-items: center;
  }
  .contends {
    display: inline-flex;
  }
  .search_box_button {
    padding-left: 5px;
    padding-right: 5px;
  }

  .drinks_ingredients {
    margin-top: 2px;
  }

  .drinks_photo {
    width: 80%;

    margin: 25px;
    padding-right: 100px;
  }
  .drink_photo {
    background-color: antiquewhite;
  }
  .search_txt {
    display: none;
  }
  .search_logo {
    display: inline;
  }
  #searchbar_input {
    height: 38px;
    width: 190px;
  }

}

.display_sb {
  visibility: visible;
}



.drinks_name {
  font-family: cursive;
}

.drinks_ingredients,
.drinks_procedure {
  font-family: cursive;
}

/* resposivness */
@media (max-width: 960px) {
  .sidenav {
    width: 0px;
  }

  .opensidenav {
    visibility: visible;
  }

  .sidenav .closebtn {
    visibility: visible;
  }

  #drinks_page {
    padding-left: 0px;
   
  }

}

@media  (min-width: 960px) {
  .sidenav {
    width: 250px;
  }
  #drinks_page {
    padding-left: 250px;
   
  }

}
/* #drinks_page {
  padding-left: 200px;
 
} */